<header>

  <nav class="primary">
    <ul>
      <li><a href="https://thelinuxexp.github.io" class="logomark" target="_self">
        {% include svg/roundedthumb.svg %}
      </a></li>
      <li><a href="https://www.youtube.com/thelinuxexperiment" target="_blank">Linux Videos</a></li>
            
      <li><a href="https://thelinuxexp.com/Ethics/" target="_blank">Ethics</a></li>
    </ul>
    
    <ul>
      <li><a href="https://pixelfed.social/TLENick" target="_blank" rel="me" title="Pixelfed">
        {% include svg/pixelfed.svg %}
      </a></li>
      
      <li><a href="{{ site.baseurl }}/feed.xml" title="RSS Feed">
        {% include svg/rss-square.svg %}
      </a></li>

      <li><a rel="me" href="https://mastodon.social/@thelinuxEXP" target="_blank" title="Mastodon">
        {% include svg/mastodon.svg %}
      </a></li>

      <li><a href="https://twitter.com/thelinuxexp" target="_blank" rel="noopener" title="Twitter">
        {% include svg/twitter.svg %}
      </a></li>
      
      <li><a href="https://patreon.com/thelinuxexperiment" target="_blank" rel="noopener" title="Patreon">
        {% include svg/patreon.svg %}
      </a></li>
    </ul>
    
  
  </nav>

</header>
