<header>

  <nav class="primary">
    <ul>
      <li><a href="https://thelinuxexp.github.io" class="logomark" target="_self">
        {% include svg/roundedthumb.svg %}
      </a></li>
      <li><a href="https://www.youtube.com/thelinuxexperiment" target="_blank">Linux Videos</a></li>
      
      <li><a href="https://www.youtube.com/channel/UCaw_Lz7oifDb-PZCAcZ07kw" target="_blank">Gaming Videos</a></li>

    </ul>
    
    <ul>
      <li><a href="{{ site.baseurl }}/feed.xml" title="RSS Feed">
        {% include svg/rss-square.svg %}
      </a></li>

      <li><a href="https://mastodon.social/@thelinuxexp" target="_blank" rel="noopener" title="Mastodon">
        {% include svg/mastodon.svg %}
      </a></li>

      <li><a href="https://twitter.com/thelinuxexp" target="_blank" rel="noopener" title="Twitter">
        {% include svg/twitter.svg %}
      </a></li>
      
        <li><a href="https://patreon.com/thelinuxexperiment" target="_blank" rel="noopener" title="Patreon">
        {% include svg/patreon.svg %}
      </a></li>
      
    </ul>
  </nav>

</header>
