{% unless page.thanks %}
<div class="thanks">
  <hr/>

  <h2>Ad-Free Content</h2>
  <p>All the content on this website is provided ad-free thanks to user contributions. If you want to support what I do, the easiest way is just to <a href="https://patreon.com/thelinuxexperiment">subscribe on Patreon</a>. Patrons get access to an exclusive weekly podcast, where I talk about Linux, Open Source, tech, my channel and various projects, and more, as well as the right to vote on the next video topics I'll work on on my Youtube Channel. You can also support me on Paypal if you prefer!</p>

  <div class="links">
    <a
      href="https://www.patreon.com/thelinuxexperiment"
      rel="noreferrer nofollow noopener"
      target="_blank"
      title="Patreon"
    >
      {% include svg/patreon.svg %}
    </a>
    <a
      href="https://www.paypal.me/thelinuxexp"
      rel="noreferrer nofollow noopener"
      target="_blank"
      title="Patreon"
    >
      {% include svg/paypal.svg %}
    </a>
  </div>
  
    <hr/>
</div>
{% endunless %}

{% if page.sponsor.name %}
  <div class="sponsor">
    {% if page.sponsor.link && page.sponsor.image %}
      <a href="{{ page.sponsor.link }}" rel="noreferrer nofollow noopener" target="_blank">
    {% endif %}
    {% if page.sponsor.image %}
      <img
        src="{{ page.sponsor.image }}"
        alt="{{ page.sponsor.name }}"
        {% if page.sponsor.image-2x %}
          srcset="{{ page.sponsor.image-2x }} 2x"
        {% endif %}
      />
    {% endif %}
    {% if page.sponsor.link  && page.sponsor.image %}</a>{% endif %}

    <p>I'd like to specially thank
    {% if page.sponsor.link %}
      <a href="{{ page.sponsor.link }}" rel="noreferrer nofollow noopener" target="_blank">
    {% endif %}{{ page.sponsor.name }}{% if page.sponsor.link %}</a>{% endif %} for sponsoring this blog post and the associated video. {% if page.sponsor.hook %}{{ page.sponsor.hook }}{% endif %}</p>
  </div>
{% endif %}
