#container {
  width: 60rem;
  height: auto;
  overflow: auto;
  padding: 15px;
  margin: 0 auto;
}

/* Div that contains the carousal */
.top-container {
  width: 50%;
}

/* positioning for left button of carousal */
.carousel-control-prev {
  left: +5%;
}

/* positioning for right button of carousal */
.carousel-control-next {
  right: 5%;
}
